<div>
    <form action="/oauth2/accept-consent" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">

        <ul>
            {{#each scopes}}
            <li>
                <label for="{{this}}">
                    <input type="checkbox" name="scopes[]" id="{{this}}" value="{{this}}" checked>
                    {{this}}
                </label>
            </li>
            {{/each}}
        </ul>

        <button type="submit">Authorize</button>
    </form>

    <form action="/oauth2/deny-consent" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit">Deny</button>
    </form>

    <h4>User</h4>
    <code>
        <pre>
            {{ jsonPretty user }}
        </pre>
    </code>
    <h4>Client</h4>
    <code>
        <pre>
            {{ jsonPretty client }}
        </pre>
    </code>
</div>
